<!DOCTYPE html>
<html>

<body>


<% if current_user %>
  Hi <%= current_user.name %> 

  <%= form_for :like, url: '/likes' do |f| %>





    <%
    # improve this in the like setter of the user model
    user_likes = current_user.likes.all
    user_likes_name = []
    user_likes.each do |app|
      user_likes_name << app.name
    end
    #puts user_likes.to_a
    missing_hobbies = []
    all_hobbies = Hobby.all

    all_hobbies.each do |ha|
      is_added = false
      user_likes_name.each do |h|
        if ha.name == h
          is_added = true
        end

        break if ha.name == h
      end

      if is_added == false
        missing_hobbies << ha
      end
    end
    %>


    Name : <%= f.select :name, missing_hobbies.collect { |p| [ p.name, p.name ] } %>
    Gusto: <%= f.range_field :like, :min=>-10, :max=>10, :class=>"slide", :id=>"slider1"%>
    <%= f.submit %>
  <% end %>

<table>


  <%
  likes = current_user.likes
  likes.each do |like| %>
  <tr>

    <td>

      <%= like.name %>
    </td>
    <td>
      <input type="range"  min="-10" max="10" value=<%= like.like %>>

    </td>
  </tr>

  <% end %>
</table>

<table>

  <tr>
    <td>usuario</td>
    <td>compatibilidad</td>
  </tr>

  <%

  users = User.all.to_a

  likes_me = current_user.likes.to_a

  users.each do |user|
    puts user.name
    %>
  <tr>
    <td><%= user.name %></td>
    <td>

      <%
       compatibility = 0
       likes_user = user.likes.to_a
       likes_me.each do |lm|
         likes_user.each do |lu|
           if(lm.name == lu.name)
             puts lm.name
             dislike = 0
             if lu.like < lm.like
               dislike = lm.like - lu.like
               puts dislike
               if dislike > (lm.like).abs*2
                 dislike = lm.like*2
                 puts dislike
               end

             end
             puts "mine"
             puts lm.like
             puts "other"
             puts lu.like
             puts dislike
             likeness = 10 - dislike
             compatibility = compatibility + likeness
           end

         end


       end



      %>
      <%=compatibility%>
    </td>
  </tr>
  <% end %>
</table>




<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<%= yield %>

</body>
</html>
